@import "normalize-scss";
@import "variables";
@import "typo";
@import "color";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal normal #{$font-size}/#{$line-height} $font-family-default;
  color: $color-black;
}

a {
  color: $color-accent;
  text-decoration: none;
}
