@import "normalize-scss";
@import "global";
@import "typo";
@import "color";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $color-default;
}

.invert {
  background: $color-default;
  color: $color-white;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  th > *, td > * {
    vertical-align: middle;
  }

  thead th {
    text-align: left;
  }
}

.clickable {
  cursor: pointer;
}
