$color-green: #9BE8C7;
$color-blue: #524DFF;
$color-violet: #B035C9;
$color-cyan: #01AAFE;
$color-yellow: #FFC740;

$color-white: #fff;
$color-deep-gray: #323232;
$color-black: #000;

$color-accent: $color-violet;
$color-default: $color-deep-gray;
