$color-black: #222;
$color-white: #fff;
$color-pale-gray: #f3f3f3;
$color-light-gray: #ddd;
$color-gray: #bbb;
$color-dark-gray: #888;
$color-deep-gray: #555;

$color-violet: #4E40B2;
$color-red: #C8005F;
$color-yellow: #FFAC00;
$color-green: #00CC84;
$color-blue: #00A5D5;

$color-accent: $color-violet;
$color-default: $color-black;
