@import "mixins";
@import "variables";

:export {
  colorBlue: $color-blue;
  colorViolet: $color-violet;
  colorCyan: $color-cyan;
  colorYellow: $color-yellow;

  colorWhite: $color-white;
  colorDeepGray: $color-deep-gray;
  colorBlack: $color-black;

  color: {
    green: $color-green;
    blue: $color-blue;
    violet: $color-violet;
    cyan: $color-cyan;
    yellow: $color-yellow;
    white: $color-white;
    deep-gray: $color-deep-gray;
    black: $color-black;
    green: $color-green;
  }
}
