$font-prefix: '../node_modules/library/src/assets/fonts' !default;

@font-face {
  font-family: 'senses_glyphs';
  src: url($font-prefix + '/senses_glyphs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="glyph-"]:before, [class*=" glyph-"]:before {
  font-family: "senses_glyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased glyphs size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.glyph-plus:before { content: '\e800'; } /* '' */
.glyph-icon-05:before { content: '\e801'; } /* '' */
.glyph-chart:before { content: '\e802'; } /* '' */
.glyph-building:before { content: '\e803'; } /* '' */
.glyph-coal:before { content: '\e804'; } /* '' */
.glyph-crop-failure:before { content: '\e805'; } /* '' */
.glyph-drought:before { content: '\e806'; } /* '' */
.glyph-emissions:before { content: '\e807'; } /* '' */
.glyph-heatwave:before { content: '\e808'; } /* '' */
.glyph-gas:before { content: '\e809'; } /* '' */
.glyph-gems:before { content: '\e80a'; } /* '' */
.glyph-hurricanes:before { content: '\e80b'; } /* '' */
.glyph-industry:before { content: '\e80c'; } /* '' */
.glyph-land:before { content: '\e80d'; } /* '' */
.glyph-oil:before { content: '\e80e'; } /* '' */
.glyph-river-flood:before { content: '\e80f'; } /* '' */
.glyph-power:before { content: '\e810'; } /* '' */
.glyph-home:before { content: '\e811'; } /* '' */
.glyph-chart-bar:before { content: '\e812'; } /* '' */
.glyph-biomass:before { content: '\e814'; } /* '' */
.glyph-nuclear:before { content: '\e815'; } /* '' */
.glyph-world:before { content: '\e816'; } /* '' */
.glyph-finder-arrows-ccw:before { content: '\e817'; } /* '' */
.glyph-finder-cog:before { content: '\e818'; } /* '' */
.glyph-finder-cancel-circled:before { content: '\e819'; } /* '' */
.glyph-finder-export:before { content: '\e81a'; } /* '' */
.glyph-finder-info-circled:before { content: '\e81b'; } /* '' */
.glyph-finder-popup:before { content: '\e81c'; } /* '' */
.glyph-finder-list:before { content: '\e81d'; } /* '' */
.glyph-tropical-cyclone:before { content: '\e81e'; } /* '' */
.glyph-wildfire:before { content: '\e81f'; } /* '' */
.glyph-finance:before { content: '\e82d'; } /* '' */
.glyph-toolkit-thick:before { content: '\e82e'; } /* '' */
.glyph-toolkit:before { content: '\e82f'; } /* '' */
.glyph-finance-thick:before { content: '\e830'; } /* '' */
.glyph-policies-tick:before { content: '\e833'; } /* '' */
.glyph-policies:before { content: '\e834'; } /* '' */
.glyph-finder-filter:before { content: '\f0b0'; } /* '' */
.glyph-lightbulb:before { content: '\f0eb'; } /* '' */
.glyph-angle-left:before { content: '\f104'; } /* '' */
.glyph-angle-right:before { content: '\f105'; } /* '' */
.glyph-angle-up:before { content: '\f106'; } /* '' */
.glyph-angle-down:before { content: '\f107'; } /* '' */
.glyph-cube:before { content: '\f1b2'; } /* '' */
.glyph-sticky-note-o:before { content: '\f24a'; } /* '' */
.glyph-search:before { content: '\f50d'; } /* '' */