@import "color";

$spacing: 2rem !default;

$font-sans: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$font-mono: "IBM Plex Mono", monospace !default;
$font-serif: "IBM Plex Serif", "Georgia", serif !default;

$font-family-default: $font-sans !default;

$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$line-height: 1.5 !default;
$font-size: 100% !default;
$transition: 0.2s !default;
